body{
    background: #282c34;
    font-weight: bold;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
}
ul{
    background: #61dafb;
    color: #282c34;
    max-width: 400px;
    min-height: 120px;
    border-radius: 5px;
}
li{
    display: inline-block;
    margin: 40px 17px 0;
    border: 2px solid #282c34;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
.btn{
    max-width: 200px;
}
button{
    width: 80px;
    margin: 30px auto 0 60px;
    background: #61dafb;
    border: none;
    outline: none;
    color: #282c34;
}
button:hover{
    background: #282c34;
    color: #61dafb;
    border: 1px solid #61dafb;
}
